@media (max-width: 1030px) {
  /* .container {
    max-width: 960px;
  } */
  .search-form {
    margin-left: 20px;
    max-width: 492px;
  }

  .tabs-content {
    justify-content: space-around;
  }
  .tabs-card {
    flex: 45%;
    max-width: calc(45% - 30px);
  }
  .slide-summer-1,
  .slide-summer-2,
  .slide-summer-3 {
    background-position: bottom right;
  }
}

@media (max-width: 874px) {
  .delivery-cards {
    justify-content: space-around;
  }
  .advantages-cards {
    justify-content: space-around;
  }
}

@media (max-width: 840px) {
  .header-inner {
    flex-wrap: wrap;
  }
  .search-form {
    order: 5;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    max-width: 100%;
  }
  .slide {
    padding: 42px;
    padding-top: 0px;
  }

  .slide-title {
    font-size: 46px;
    line-height: 46px;
  }

  .button {
    padding: 10px 30px;
  }
  .button-default {
    font-size: 14px;
  }
}
@media (max-width: 692px) {
  .footer-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  .footer-logo {
    margin-bottom: 15px;
  }
  .social-links {
    margin: 0 auto;
  }
}

@media (max-width: 640px) {
  .slide {
    padding: 26px;
  }

  .slide-title {
    font-size: 40px;
    line-height: 40px;
  }
  .cards {
    display: block;
  }
  .card {
    margin-bottom: 15px;
    max-width: 100%;
    min-height: 305px;
  }
  .card:first-child {
    margin-right: 0;
  }
  .card:last-child {
    margin-left: 0;
  }

  .card-title {
    padding-top: 0;
  }

  .card-description {
    margin-bottom: 40px;
  }
  .card-delivery {
    margin-bottom: 10px;
  }
  .tabs-info {
    display: block;
  }
  .tabs-good {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .tabs-images {
    margin-bottom: 0;
  }
  .tabs-text {
    margin-bottom: 30px;
  }
  .advantages {
    margin-top: 35px;
    margin-bottom: 50px;
  }
}

@media (max-width: 590px) {
  .delivery-cards {
    display: block;
  }
  .promo {
    margin-bottom: 0;
  }
  .delivery-card {
    width: 100%;
    margin-left: 0;
  }
  .delivery-week {
    margin-top: 50px;
    margin-bottom: 15px;
  }
  .tabs-content {
    display: block;
  }
  .tabs-card {
    max-width: 80%;
    margin: 0 auto;
    margin-bottom: 25px;
  }
  .tabs {
    display: block;
    margin-bottom: 40px;
  }
  .tabs-item {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 10px;
  }
  .section-title {
    text-align: center;
  }
  .advantages-cards {
    display: block;
  }

  .advantages-card {
    max-width: 100%;
  }
  .footer-nav {
    display: block;
    width: 100%;
    margin-bottom: 22 px;
    text-align: center;
  }
  .social-links {
    margin: 0 auto;
    margin-top: 25px;
    display: flex;
    width: 40%;
    justify-content: space-evenly;
  }
  .footer-logo {
    margin-bottom: 15px;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}

@media (max-width: 420px) {
  .search-form {
    margin-top: 15px;
    margin-right: 10px;
    margin-left: 10px;
  }

  .login {
    padding: 12px 22px;
  }

  .shopping-cart {
    width: 43px;
    height: 43px;
    margin-left: 18px;
  }

  .slider-buttons {
    right: 20px;
    bottom: 12px;
  }
  .section-grey {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .tabs-title {
    margin-top: 0;
  }
  .footer-link {
    justify-content: space-around;
    display: flex;
    border-bottom: 0;
    margin-right: 0;
  }
}
